<a href="https://colab.research.google.com/github/Hidestament/AtCoder/blob/main/ABC/ABC193.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [AtCoder Beginner Contest 193](https://atcoder.jp/contests/abc193)

## [A - Discount](https://atcoder.jp/contests/abc193/tasks/abc193_a)

In [ ]:
A, B = map(int, input().split())
print((A - B) / A * 100)

99999 99998
0.001000010000100001

## [B - Play Snuke](https://atcoder.jp/contests/abc193/tasks/abc193_b)

In [ ]:
N = int(input())
machines = []
for _ in range(N):
    a, p, x = map(int, input().split())
    machines.append([a, p, x])

In [ ]:
ans = 10**10
for a, p, x in machines:
    if x - a > 0:
        ans = min(ans, p)
print(ans if ans < 10**10 else -1)

## [C - Unexpressed](https://atcoder.jp/contests/abc193/tasks/abc193_c)

In [ ]:
N = int(input())

100000

In [ ]:
eratosthenes = set()
for a in range(2, int(N**0.5) + 10):
    now = a
    while now * a <= N:
        now *= a
        eratosthenes.add(now)
print(N - len(eratosthenes))

99634

## [D - Poker](https://atcoder.jp/contests/abc193/tasks/abc193_d)

In [ ]:
from collections import Counter
K = int(input())
S = str(input())
T = str(input())

2
1144#
2233#

In [ ]:
s_cnt = Counter(S)
t_cnt = Counter(T)
all_cnt = s_cnt + t_cnt

In [ ]:
all_pattern = 0
ans_pattern = 0
for s in range(1, 10):
    for t in range(1, 10):
        if s == t:
            res = K - all_cnt[str(s)]
            pattern = res * (res - 1)
        else:
            s_res = K - all_cnt[str(s)]
            t_res = K - all_cnt[str(t)]
            pattern = s_res * t_res
        all_pattern += pattern

        s_cnt[str(s)] += 1
        t_cnt[str(t)] += 1


        s_score = sum(i * (10 ** s_cnt[str(i)]) for i in range(1, 10))
        t_score = sum(i * (10 ** t_cnt[str(i)]) for i in range(1, 10))
        
        if s_score > t_score:
            ans_pattern += pattern

        s_cnt[str(s)] -= 1
        t_cnt[str(t)] -= 1

In [ ]:
print(ans_pattern / all_pattern)