<a href="https://colab.research.google.com/github/Hidestament/AtCoder/blob/main/ABC/ABC170.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A - Five Variables

In [ ]:
x = list(map(int, input().split()))
for i in range(len(x)):
  if x[i] == 0:
    print(i+1)

0 2 3 4 5
1

## 解法2
最初x1 = 1, x2 = 2, ..., x5 = 5であるので, sum(x) = 15である.

0が代入されると, その分 15 から i 分さがるので, 以下のようにもかける

In [ ]:
x = list(map(int, input().split()))
print(15 - sum(x))

# B - Crane and Turtle

## 方程式による条件
a + b = x
2a + 4b = y

2b = y - 2x

b = 1/2 y - x

a = x - b = x - 1/2y + x = 2x - 1/2y

(y-2x)が非負かつ偶数, (4x - y)が非負かつ偶数となれば良い.

In [ ]:
x, y = map(int, input().split())

1 2

In [ ]:
if (4*x - y >= 0) and (y - 2* x >= 0) and ((4 * x - y) % 2 == 0) and ((y - 2* x) % 2 == 0):
  print("Yes")
else:
  print("No")

Yes

## for文

In [ ]:
x, y = map(int, input().split())

3 8

In [ ]:
for a in range(x+1):
  if 4 * (x - a) == (y - 2*a):
    print("Yes")
    exit()
print("No")

Yes
No

# C - Forbidden List

In [ ]:
x, n = map(int, input().split())
p = list(map(int, input().split()))

6 5
4 7 10 6 5

In [ ]:
temp = set(i for i in range(102)) - set(p)

In [ ]:
ans = (102, 102 - x)
for i in temp:
  if abs(i - x) < ans[1]:
    ans = (i, abs(i-x))
  elif abs(i-x) == ans[1] and i < ans[0]:
    ans = (i, abs(i-x))

In [ ]:
print(ans[0])

8

# D - Not Divisible

In [35]:
n = int(input())
a = list(map(int, input().split()))

10
33 18 45 28 8 19 89 86 2 4

In [36]:
d = [0] * (10**7)
m = [0] * (10**7)

In [37]:
for i in a:
  d[i] += 1

In [38]:
for i in set(a):
  if m[i] == 0:
    for j in range(2*i,10**6 + 1,i):
      m[j] = 1

In [39]:
ans = 0
for i in a:
  if m[i] == 0 and d[i] <= 1:
    ans += 1

In [40]:
print(ans)

5