<a href="https://colab.research.google.com/github/Hidestament/AtCoder/blob/main/ABC/ABC201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ABC 201
https://atcoder.jp/contests/abc201

## A - Tiny Arithmetic Sequence
https://atcoder.jp/contests/abc201/tasks/abc201_a

In [3]:
A = list(map(int, input().split()))
A.sort()
print("YNeos"[A[1]-A[0]!=A[2]-A[1]::2])

5 1 3
Yes

## B - Do you know the second highest mountain
https://atcoder.jp/contests/abc201/tasks/abc201_b

### 逐次更新する方法
一番高い山の情報と, 二番目に高い山の情報を常に持っておき, それぞれのクエリごとに更新していく.

ここで注意するのが, 一番目に高い山が更新されたときには, 二番目に高い山も更新しなくてはいけないこと.

In [4]:
N = int(input())

3

In [9]:
one = ("", 0)
sec = ("", 0)
for _ in range(N):
  s,t = input().split()
  t = int(t)

  if one[1] < t:
    one, sec = (s,t) , one
  elif sec[1] < t:
    sec = (s,t)

Everest 8849
K2 8611
Kangchenjunga 8586

In [11]:
print(sec[0])

K2

### リストとして保存してソートする方法

In [12]:
N = int(input())
mt = list((input().split()) for _ in range(N))

3
Everest 8849
K2 8611
Kangchenjunga 8586

In [17]:
mt.sort(reverse=True, key=lambda x:int(x[1]))

In [20]:
print(mt[1][0])

K2

## C - Secret Number
https://atcoder.jp/contests/abc201/tasks/abc201_c

### 解法１： 0000 ～ 9999 の全てを調べる
暗証番号は 0000 ～ 9999 の 10000通りしかないため, 全ての暗証番号がそれぞれ条件を満たすかどうかを調べる.

右寄せゼロ埋めして4桁の文字列として扱っている暗証番号をkとする.

"o" で ある数字が全て k に含まれていて, "x" である数字が全て k に含まれていなければ, kは条件を満たす.

これを実装する.

In [31]:
S = str(input())
inc = set()
exc = set()
for s in range(10):
  if S[s] == "o":
    inc.add(str(s))
  elif S[s] == "x":
    exc.add(str(s))

ooo???xxxx

右寄せゼロ埋めするのは, 

```
str.zfill(桁数)
```
でできる.

In [ ]:
ans = 0
for num in range(10000):
  sec = str(num).zfill(4)
  if all(s in sec for s in inc) and all(s not in sec for s in exc):
    ans += 1
print(ans)

次のコードでも良いかもしれない. こっちのほうが計算時間は多かった.

In [40]:
S = str(input())
ans = 0
for num in range(10000):
  sec = str(num).zfill(4)
  if all(str(s) in sec for s in range(10) if S[s] == "o") and all(str(s) not in sec for s in range(10) if S[s] == "x"):
    ans += 1
print(ans)

108

### 解法2 : 場合分け + 組合せの個数の計算
まずはじめに, o, x, ? が 実際にどの数字に対応するかは関係なく, それらがいくつ存在するかが問題になる.

というのも, それがどの数字になろうとも, 組合せの数には関係がないから.

なので, まずは個数をカウントする.

In [46]:
S = str(input())
used = S.count("o")
unused = S.count("?")
unknown = S.count("x")

ooo???xxxx

#### コーナーケースの除去

- used + unknown = 0 の場合, 暗証番号を作ることができない
- used が 5個以上の場合, 暗証番号を作ることができない

よってこれらの場合は, ans = 0 となる.

In [47]:
if used + unknown == 0 or used >= 5:
  ans = 0

#### ? を どう扱うか
? のうち 何個か(add個とする)選んで, o にして, 並び方を考えるとする.

used + add個 が 1 ～ 4ならば暗証番号を作ることができて, その組合せが計算できる.

unknown から 何個を add個 取ってくるかは, パターンが少ないので全列挙するとする.

またこのとき, unknows個からadd個を選ぶ選び方は, 
$$
_{unknown} C _{add}
$$

となるので, 次で計算する組合せのパターンにこれをかける必要がある. これを pattern_addとおこう.

In [ ]:
from math import factorial
ans = 0

for add in range(max(4, unknown) + 1):
  pattern_add = factorial(unknown) // factorial(add) // factorial(unknown - add) 
  print(pattern_add)

#### 実際の組合せの計算
unknown + add が 1～ 4 ならば組合せを計算することができる.

- 1の場合

1111 みたいなやつの1通り


- 2の場合

1112 みたいなやつが 2×4通り（1の選び方2通り × 2の場所4通り）

1122 みたいなやつが $_4 C _2$ 通り. 

- 3の場合

1123 みたいなやつが 3×4×3 通り（1の選び方3通り × 2の場所 $_4 C_1$ × 3の場所 $_3 C _ 1$）


- 4の場合
1234 みたいなやつが 4! 通り （4つの数字を一列に並べる順列）

In [49]:
ans = 0
if unknown + add == 0:
  ans += 0
elif unknown + add == 1:
  ans += pattern_add * 1

elif unknown + add == 2:
  ans += pattern_add * 2 * 4
  ans += pattern_add * 2 * 3

elif unknown + add == 3:
  ans += pattern_add * (3 * 4 * 3)
  
elif unknown + add == 4:
  ans += pattern_add * (4 * 3 * 2 * 1)

#### まとめると

In [62]:
from math import factorial

S = str(input())
used = S.count("o")
unknown = S.count("?")
unused = S.count("x")

if used + unknown == 0 or used >= 5:
  print(0)
else:
  ans = 0
  for add in range(min(4, unknown) + 1):
    pattern_add = factorial(unknown) // factorial(add) // factorial(unknown - add)
    if used + add == 1:
      ans += pattern_add * 1

    elif used + add == 2:
      ans += pattern_add * 2 * 4
      ans += pattern_add * 2 * 3

    elif used + add == 3:
      ans += pattern_add * (3 * 4 * 3)
  
    elif used + add == 4:
      ans += pattern_add * (4 * 3 * 2 * 1) 
  print(ans)

ooo???xxxx
108